<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>AddClientServlet</servlet-name>
    <servlet-class>com.codecool.restapi.servlets.AddClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClientServlet</servlet-name>
    <url-pattern>/addusers</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>JSON-Servlet</servlet-name>
        <servlet-class>com.codecool.restapi.servlets.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSON-Servlet</servlet-name>
        <url-pattern>/jsonservice/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSON-Services-Servlet</servlet-name>
        <servlet-class>com.codecool.restapi.servlets.JsonServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSON-Services-Servlet</servlet-name>
        <url-pattern>/jsonservices/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceInfoServlet</servlet-name>
        <servlet-class>com.codecool.restapi.servlets.ServiceInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceInfoServlet</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.codecool.restapi.servlets.UserPostmanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

</web-app>
